@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


body {

    overflow-x: hidden;
    margin: 0 auto;
    cursor: default !important;
    
}

#sections {
    position: relative;
    width: 100%;
    margin: 0 auto;
    top: 0px;
    z-index: 90;
}

.categoryLegend {
    font-family: "Domine";
}

.intro-slide {
    background-image: linear-gradient(#F0D67F, #159E8E);
    width: 100%;
    height: 100%;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    display: flex;
    color: #FFFFFF;

  }

.intro-slide p {
    font-family: Bitter;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 58px;

}

.intro-text-wrapper {
    width: 70vw;
    margin: 0 auto;
    font-family: 'Roboto Condensed';
}

.step {
    height: 100vh;
    font-family: "Domine";
    font-weight: 400;
    margin: 0 auto;
    line-height: 1.4em;

}
.conclusions {
    height: 400vh !important;


}

/* TITLE COVER */
h1 {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 50px;
  right: 0;
  margin: auto;
  z-index: 3;
  font-family: "capitol";
  font-style: normal;
  font-weight: normal;
  font-size: 144px;
  line-height: 190px;
/* identical to box height */
  letter-spacing: 0.45em;
  color: #FFFFFF;
  align-items: center;
}

/* ARROWS TEXTS */
h2 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 650px;
    margin: auto;
    width: 350px;

    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    z-index: 3;

    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}


strong {
    color: rgb(245, 155, 155);
}

#graphic {
    margin: 0 auto;

}

#vis-container {
    margin: 0 auto;
    max-width: 75%;
    height: 100vh;
}

#vis {
    display: inline-block;
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 1;
    height: 100vh;
    width: 75%;

}

.tick line {
    stroke: 'red'
}

.intro h1{
    margin: 0 auto !important;
    width: 80%;
    text-align: center !important;
}

.box {
    background: #FFFEFE;
    opacity: 0.85;
    border: 1px solid #C0C0C0;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(151, 151, 151, 0.25);
    width: 40vw;
    margin: 0 auto;
    padding-right: 2em;
    padding-left: 2em;

}

#tooltip {
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, .7);
    border-radius: 3px;
    box-shadow: -3px 3px 15px #939393;
    color: white;
    padding: 6px;
    font-family: "Merriweather";
    font-size: 1.1em;
    max-width: 100%;
    z-index: 100;
}

svg {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 auto;
    max-height: 100%;

}

svg circle:hover{
    cursor: pointer;
}

.finaltext svg {
    width: 50vw;
    height: 400px !important;
}

.swatch {
    fill: #939393;
}

.sizeLegend2 {
    opacity: 0.7
}

a {
    color: rgb(221, 0, 255);
    text-decoration: none;
}

a, a:hover, a:visited {
    color: #06bc00;
}

#header {
    margin: 3vh auto;
    width: 90vw;
    padding: 2vh;
    text-align: center;
}

#features {
    padding-top: 5vh;
    padding-bottom: 10vh;
    z-index: 100;
}
.centered {
    width: 50vw;
    margin: 0 auto;
    padding-right: 2em;
    padding-left: 2em;
}
.lefty {
    width: 33vw;
    margin-left: 5vw;
}
.righty {
    width: 33vw;
    margin-left: 62vw;
}
.light {
    background: #FFFEFE;
    opacity: 0.85;
    border: 1px solid #C0C0C0;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(151, 151, 151, 0.25);

}

.dark {
    color: #fafafa;
    background-color: #444;
}

.step1 {
    padding-bottom: 50vh;
    /* margin-bottom: 10vh; */
    opacity: 0.25;
}

.step1.active {
    opacity: 0.9;
}

.step1 div {
    padding:  25px 50px;
    line-height: 25px;
    font-size: 13px;
}

.step img {
    width: 100%;
    opacity: 1 !important;
    margin: auto;

}

h3 {
    font-family: Bitter, OpenSans;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 30px;
}
p {
    font-family: Bitter;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 30px;
}

p.subtitle {
    font-family: 'Roboto Condensed';
    font-size: 1.2em;
    font-weight: bold;
}

.footer-text {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
}

.footer {
    height: 100vh;
    margin: 0 auto;
    width: 100%;
    /* background: #FAFAFA; */
    padding-right: 5em;
    padding-left: 5em;

}

.footer img{
    mix-blend-mode: multiply;
    float: center;

}
.footer p {
    font-family: Bitter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    width: 50vw;

}

.footer h3 {
    font-family: Capitol;
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 70px;
/* identical to box height */

letter-spacing: 0.32em;

color: #333333;
}

.footer h1{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    
    color: #333333;
}

.footer h2{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    /* or 120% */

    display: flex;
    align-items: center;
    letter-spacing: 0.08em;

    color: #333333;
}

@media (max-width: 750px) {
    #features {
        width: 90vw;
        margin: 0 auto;
    }
}


/*** INTRO STYLES ***/

.bg-video-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: url("Pics/back_amarillo-azul.jpg") no-repeat center center/cover;
}
video {
  margin-top: -200px;
  margin-left:-150px;
  min-width: 100%;
  min-height: 100vh;
  z-index: 1;
}
.overlay {
  opacity: 0.3;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(45deg, rgba(255,255,255,.2) 20%, rgba(0,0,0,.1) 30%);
  background-size: 7px 7px;
  z-index: 2;
}

.finaltext img {
    width: 100%;
    height: 600px;
}

@font-face {
  font-family: "capitol";
  src: url("capitol.ttf");
}

.arrow {
  width: 40px;
  left:49%;
  height: 40px;
  position: absolute;
  animation-name: arrowAni;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  z-index: 3;
  margin: auto;
  margin-top: 70px;
}

.arrowImg {
  width: 40px;
  height: 40px;
}

@keyframes arrowAni {
  0%   {top:720px;}
  25%  {top:740px;}
  50%  {top:720px;}
  75%  {top:740px;}
  100% {top:720px;}
}

.finaltext {
    width: 50vw;
    margin: 0 auto;
    font-size: 16px;
    line-height: 18px !important;
}
